.listItem-wrap {
  margin: 1rem 3rem;
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
}

.listItem-img {
  margin-right: 2rem;
  /* border: 1px solid black; */
  border-radius: 15px;
}

.listItem-wrap a img {
  border-radius: 15px;
  width: 400px;
  height: 230px;
  object-fit: cover;
}

.listItem-wrap header h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 39px;
  color: #6C7BFF;
}

.listItem-wrap header p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

footer p {
  color: red;
}


  
